# Ignore Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# Django database files
*.sqlite3
db.sqlite3

# Django media and static files
media/
staticfiles/

# Logs
*.log

# IDE/editor folders
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db
